html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #02abe4 0%, #fff 25em, #fff 100%);
  background-color: #ffffff;
  background-repeat: no-repeat;
  color: #313137;
  font: 1.4em/1.5em BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: auto;
  margin: 0;
}

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
}

.container {
  margin: 1em auto 0;
  max-width: 400px;
  padding: 0 0.5em;
}

.header__logo {
  background-image: url('https://static.onthebeach.co.uk/packaged-assets/application/logos/onthebeach/otb-logo-uk-blue-a091160f1e9e75766f2231aaebd73a3417befcd501b1d8dab509c1fe487d00f3.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 2.5em;
  width: 5em;
}

.main {
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 0.5em;
}
